body, html {
	height: 100%;
	font-family: "Inconsolata", sans-serif;
	margin: 0;
	background-color: rgb(200, 228, 255);
  }

p{
	text-align: left;
	font-weight:600;
	padding-left: 20px;
	padding-right: 20%;
}
  

.menu{
	position:fixed;
	width:100%;
	overflow: hidden;
	z-index: 1;
	background-color: #333;
	
}

  .menu-box {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}

.menu-box a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .menu-box a:hover {
	background-color: #ddd;
	color: black;
  }

  h2 {
	text-align: center;
	font-size: 2.5em;
	letter-spacing: -1px;
	background-color: black;
	color: white;
  }

  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 49%;
  padding: 0 4px;
}
.column p{
	text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

}

img {
	width: 100%;
	object-fit: contain;
}	


input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=button]{
	background-color: rgb(128, 191, 249);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=button]:hover{
	background-color: rgb(95, 173, 245);
  }
  
  /* Add a background color and some padding around the form */
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }


